/* form-modalidad.component.scss */

.custom-input {
    border-radius: 4px;
  }
  
  .invalid-feedback {
    display: block;
  }
  
  .text-danger.ng-star-inserted {
    color: #dc3545; /* Color rojo para mensajes de error */
  }
  
  .small {
    font-size: 0.875em;
  }
  
  .mt-1 {
    margin-top: 0.25rem;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .btn-spacing {
    margin-right: 0.5rem;
  }
  
  textarea.form-control {
    resize: vertical; /* Permitir solo redimensionar verticalmente */
    min-height: 150px; /* Altura mínima para manejar texto largo */
    max-height: 300px; /* Altura máxima para evitar que el textarea crezca demasiado */
    overflow-y: auto; /* Añadir scroll si el texto excede la altura máxima */
  }
  