<div class="modal-header">
  <h5 class="modal-title">Subir Documentos de Sustentación</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="additionalDocuments" class="form-label">Seleccionar Documentos</label>
      <input
        type="file"
        id="additionalDocuments"
        class="form-control"
        (change)="onFileChange($event)"
        multiple
      />
    </div>

    <!-- Botón Guardar -->
    <div class="text-end">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Subir Documentos
      </button>
    </div>
  </form>
</div>
