<div class="container mt-4">
    <h3 class="text-center mb-4">Información del Registro al Taller</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>ID de Registro</th>
          <td>{{ workshopRegistration?._id }}</td>
        </tr>
        <tr>
          <th>Creado por</th>
          <td>{{ workshopRegistration?.user?.name }} {{ workshopRegistration?.user?.lastName }}</td>
        </tr>
        <tr>
          <th>Período de Inducción</th>
          <td>{{ workshopRegistration?.inductionPeriod?.name }}</td>
        </tr>
        <tr>
          <th>Carrera</th>
          <td>{{ workshopRegistration?.carrera }}</td>
        </tr>
        <tr>
          <th>Nivel Aprobado</th>
          <td>{{ workshopRegistration?.nivelAprobado }}</td>
        </tr>
        <tr>
          <th>Estado</th>
          <td>{{ workshopRegistration?.estado }}</td>
        </tr>
        <tr>
          <th>Fecha de Creación</th>
          <td>{{ workshopRegistration?.createdAt | date: 'longDate' }}</td>
        </tr>
        <tr>
          <th>Última Actualización</th>
          <td>{{ workshopRegistration?.updatedAt | date: 'longDate' }}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center mt-3">
      <button class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
    </div>
  </div>
  