<div class="container-fluid basic_table">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <div class="text-end">
          <button
            class="btn btn-sm btn-refresh me-3"
            [disabled]="isLoading"
            ngbTooltip="Recargar Tabla"
            tooltipClass="custom-tooltip"
            (click)="reloadTable()"
          >
            <i class="fas fa-sync-alt"></i>
          </button>
          <button
            class="btn btn-sm btn-head btn-head-table me-3"
            [disabled]="isLoading"
            (click)="openCreateEnrollmentFormModal()"
          >
            <i class="fa-solid fa-circle-plus"></i> Nueva Inscripción
          </button>
        </div>
      </div>

      <div class="card-body custom-datatable noscroll">
        <div class="table-responsive signal-table custom-datatable">
          <table class="table table-hover table-responsive uppercase-table">
            <thead>
              <tr>
                <th>Acciones</th>
                <th>Modalidad</th>
                <th>Mecanismo de Desarrollo</th>
                <th>Título del Tema</th>
                <th>Descripción del Problema</th>
                <th>Tutores Preferidos</th>
                <th>Creado Por</th>
                <th>Compañero</th>
                <th>Estado del grupo</th>
                <th>Fecha de Creación</th>
              </tr>
            </thead>
            <tbody *ngIf="isLoading">
              <tr>
                <td colspan="9" class="text-center">
                  <div class="loader-box">
                    <div class="loader-16"></div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && enrollments.length > 0">
              <tr
                *ngFor="let item of enrollments; trackBy: trackByEnrollmentId"
              >
                <td>
                  <div class="btn-group">
                    <button
                      class="btn btn-sm mt-2 btn-light"
                      style="padding: 0.375rem 0.9rem"
                      ngbTooltip="Ver Información"
                      tooltipClass="custom-tooltip"
                      (click)="openViewEnrollmentModal(item)"
                    >
                      <i class="fa-solid fa-eye"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-danger mt-2"
                      style="padding: 0.375rem 0.9rem"
                      ngbTooltip="Eliminar"
                      tooltipClass="custom-tooltip"
                      (click)="confirmDeleteEnrollment(item)"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </button>

                    <button
                      class="btn btn-sm btn-success mt-2"
                      style="padding: 0.375rem 0.9rem"
                      ngbTooltip="Editar"
                      tooltipClass="custom-tooltip"
                      (click)="openEditEnrollmentFormModal(item)"
                    >
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                  </div>
                </td>
                <td>{{ item.modalityName }}</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span
                      [ngClass]="
                        getDevelopmentMechanismClass(item.developmentTypeName)
                      "
                      class="status-badge"
                    >
                      {{ item.developmentTypeName }}
                    </span>
                  </div>
                </td>
                <td ellipsisOverflow>{{ item.topicTitle || "N/A" }}</td>
                <td ellipsisOverflow>{{ item.problemDescription || "N/A" }}</td>

                <td>{{ item.preferredTutorsNames }}</td>
                <td>{{ item.createdByName }}</td>
                <td>{{ item.partnerName }}</td>
                <td>
                  <span
                    [ngClass]="getGroupStatusClass(item)"
                    class="group-status-badge"
                  >
                    {{ getGroupStatusText(item) }}
                  </span>
                </td>
            
                <td>{{ item.createdAt | date : "short" }}</td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && enrollments.length === 0">
              <tr>
                <td colspan="9" class="text-center">
                  No hay inscripciones disponibles.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-footer">
        <shared-custom-pagination
          [collectionSize]="collectionSize"
          (pageChange)="onPageChange($event)"
          (pageSizeChange)="onLimitChange($event)"
        ></shared-custom-pagination>
      </div>
    </div>
  </div>
</div>
