// /* Personalización de la barra de desplazamiento horizontal */
// .table-responsive::-webkit-scrollbar {
//     height: 6px; /* Ajusta el grosor de la barra de desplazamiento */
//   }
  
//   .table-responsive::-webkit-scrollbar-thumb {
//     background-color: #b899c5; /* Color de la barra */
//     border-radius: 4px; /* Redondeo de las esquinas */
//   }
  
//   .table-responsive::-webkit-scrollbar-thumb:hover {
//     background-color: #a378b3; /* Color al pasar el mouse */
//   }
  
//   .table-responsive::-webkit-scrollbar-track {
//     background-color: #f1f1f1; /* Color de fondo de la pista del desplazador */
//     border-radius: 4px;
//   }
  
.group-status-badge {
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    color: #fff;
    font-weight: bold;
  }
  
  .group-formed {
    background-color: #28a745; // Verde para grupo formado o individual
  }
  
  .group-pending {
    background-color: #ffc107; // Amarillo para pendiente
  }
  